@using DTOs.Admin
@model FullProductDto

@{
    ViewData["Title"] = "Delete Product";
}

<h2>Delete Product</h2>

<div>
    <h4>Are you sure you want to delete the product: @Model.Product.Name?</h4>
    

    <form method="post" asp-action="Delete" asp-antiforgery="true">
        <input type="hidden" name="id" value="@Model.Product.Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="@Url.Action("Index", "StockProducts")" class="btn btn-secondary">Cancel</a>
    </form>
</div>
